*

!.gitignore
!bootstrap.sh
!LICENSE
!README.md
!Vagrantfile
!enterprise_addons.sh

!conf/odoo.conf.template

!system_services/
!system_services/mailcatcher.service
!system_services/odoo.service
